<div>
<% @restaurants.each do |restaurant|  %>
  <li>
    <%= link_to restaurant.name, restaurant_path(restaurant) %>
  </li>
<% end %>
</div>

<%# <%= link_to restaurant.name, restaurant_path(restaurant) %>
